@media screen and (max-width: 768px) {
  header nav {
    display: flex;
  }

  .home svg {
    bottom: -5rem;
  }

  .bride,
  .time {
    padding: 6rem 1.4rem 8rem;
  }

  .hadist {
    padding: 2rem 1.4rem;
  }

  /* =========================
     GALERI (FIX FINAL)
     ========================= */
  .galeri {
    margin-top: -6rem;
    padding: 4rem 1.4rem 6rem;
    min-height: auto;
  }

  .galeri .container {
    padding: 0 1rem 1rem;
  }

  .galeri .container figure {
    margin-top: -1rem;
  }

  .galeri .container figure img {
    height: 14rem;
  }

  .galeri .container ul {
    bottom: 5rem;
  }

  .galeri .container ul li {
    width: 1rem;
    height: 0.2rem;
  }

  .galeri .container button:nth-of-type(1),
  .galeri .container button:nth-of-type(2) {
    top: 12.4rem;
    font-size: 3rem;
  }

  .galeri .container button:nth-of-type(1) {
    left: 0.8rem;
  }

  .galeri .container button:nth-of-type(2) {
    right: 0.8rem;
  }

  /* tombol LIHAT SEMUA FOTO */
  .galeri .container button:nth-of-type(3) {
    display: block;
    margin: 2.5rem auto 0;
    position: relative;
    z-index: 5;
  }

  /* fullscreen gallery */
  .galeri div:nth-of-type(2) {
    padding: 0 1rem 4rem;
  }

  .galeri div:nth-of-type(2) > div {
    margin-top: -1rem;
    padding: 2rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
  }

  .galeri div:nth-of-type(2) > div img {
    border-radius: 15px;
  }

  .galeri div:nth-of-type(2) button {
    font-size: 1.4rem;
  }

  /* =========================
     SECTION LAIN (AMAN)
     ========================= */
  .wishas {
    padding: 1rem 1.4rem 2rem;
    margin-top: -14rem;
  }

  footer {
    margin-top: 4rem;
    padding: 1rem 1.4rem 3.4rem;
  }
}
